
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="copyright" content="2017" />
    <!--Css-->
    {load href="__static__/css/style.css"}
    {load href="__static__/css/font-awesome.min.css"}
    {load href="__static__/layui/css/layui.css"}
    {load href="__static__/cardmodel/css/popuo-box.css"}
    <!--Js-->
    {load href="__static__/js/Jquery.min.js"}
    {load href="__static__/cardmodel/js/jquery.magnific-popup.js"}
